h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* margin,padding */
#header-menu {
  padding: 15px 0;
}
#profile,
#skill,
#works,
#contact {
  margin-top: 150px;
  margin-bottom: 150px;
}
#footer {
  padding: 30px 0;
}
/* top */
#top {
  background-color: #00afb0;
  color: #fcf7f0;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-header {
  font-size: 52px;
  text-align: center;
  margin-bottom: 30px;
}
/* .top-icon {
  font-size: 40px;
  text-align: center;
} */
.sub-header {
  font-size: 28px;
  text-align: center;
}

/* works */
/* .image {
  width: 400px;
  height: 400px;
} */

/* skill */
.list-item {
  margin: 15px;
}

.contents-container {
  margin-top: 50px;
}

.icon-container {
  margin-top: 20px;
}
