/* margin */
#top,
#skill,
#work,
#contact {
  margin-top: 50px;
  margin-bottom: 50px;
}
#footer {
  padding: 30px 0;
}

/* skill */
.list-item {
  margin: 10px;
}

.contents-container {
  margin-top: 40px;
}
